body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table{
  margin-bottom: 0px;
}
hr{
  margin:0px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.flag:hover{
  border-bottom: solid 1px;
}
.flag img{
  cursor: pointer;
}
.activeFlag{
  background: transparent;
  border-bottom: solid 5px;
}
.activeFlag:hover{
  background: transparent;
  border-bottom: solid 5px;
}

.project{
  border-top: solid 1px;
}

.duration{
  font-size: 12px;
  display:block;
  float:right;
}

.tags{
  font-style: italic;
  font-size: 80%;
}

.button{
  min-width: 1em;
  height: calc(1.5em + 6px);
  line-height: 1.5em;
}

span.highlight {
  background-color: yellow;
}

#ListTagsDiv{
  text-align: center;
  overflow: auto;
  overflow-y: hidden; // hide vertical
  overflow-x: hidden;
}

#ListTagsDiv.showAll{
  overflow-y: auto;
  height: auto;
}

#ListTagsDiv.reducedHeight{
  overflow-y: hidden;
  height: 5.5em;
}

a{
  cursor:pointer;
}

#buttonShowMoreTag{
  text-align: center;
}

img.logo{
  max-height: 4em;
  max-width: 10em;

}

h3.placeTitle{
  padding-left: 1em;
  display: inline-block;
  line-height: 1.25em;
  margin:auto;
}

h3.projectTitle{
  font-size: 1.1em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

.projectDescription{
  font-size: 1em;
  line-height: normal;
}
